<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Api App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/">Passenger Data</a>
          <a class="nav-link" routerLink="/us">US public data</a>
          <a class="nav-link" routerLink="/userinfo">User Info</a>
          <a class="nav-link" routerLink="/productlist">Product List</a>
          <a class="nav-link" routerLink="/userdata">User Data</a>
          <a class="nav-link" routerLink="/todos">ToDo</a>
          <a class="nav-link" routerLink="/quotes">Quotes</a>
        </div>
      </div>
    </div>
  </nav>
